$font-family: Mulish, Arial, sans-serif;

$grayscale-white: #ffffff;
$grayscale-offWhite: #e5e5e5;
$grayscale-inputBack: #f1f2f3;
$grayscale-labels: #97999b;
$grayscale-body: #626275;
$grayscale-black: #000000;
$grayscale-black50: #00000033;

$primary-intusBlue: #4d7ef8;
$primary-intusBlue50: #4d7ef880;
$primary-intusNavy: #062d8f;
