@import "~bootstrap/scss/bootstrap";
@import "base";

h2 {
  font-weight: bold;
  font-size: 28;
  font-family: $font-family;
}

h3 {
  font-weight: bold;
  font-size: 20;
  font-family: $font-family;
}

body {
  font-weight: normal;
  font-size: 20;
  font-family: $font-family;
}

.ic-card {
  box-shadow: 0px 0.4px 0.4rem 0.06rem pallete-color(black50, grayscale);
  border: none;
  border-radius: 10px;

  &:hover {
    box-shadow: 0px 0.4px 0.4rem 0.06rem pallete-color(black50, grayscale);
    border: 2px solid pallete-color(intusBlue50, primary);
  }

  padding: 20px;
  margin:20px;
}
