$font-family: Mulish, Arial, sans-serif;

$palettes: (
  grayscale: (
    white: #ffffff,
    offWhite: #e5e5e5,
    inputBack: #f1f2f3,
    labels: #97999b,
    body: #626275,
    black: #000000,
    black50: #00000080,
  ),
  
  primary: (
    intusBlue: #4d7ef8,
    intusBlue50: #4d7ef880,
    intusNavy: #062d8f,
  )
);

@function palette-color($color, $tone) {
  @warn map-get($palettes, $color);

  @if map-has-key($palettes, $tone) {
    $tone: map-get($palettes, $tone);
    @if map-has-key($tone, $color) {
        $color: map-get($tone, $color);
        @return $color;
    }
    
    @error "unknown color `#{$color}` in tone";
    @return null;
}

  @error "unknown tone `#{$tone}` in palette";
  @return null;
}
